<%- include("../partials/_header") %>

<div class="column is-4">
    <% if (portfolio) { %>
    <article class="card mt-6 p-1">
        <header class="card-header">
            <p class="card-header-title">
                <%= portfolio.author %>
            </p>
            <button class="card-header-icon" aria-label="user">
                <span class="icon">
                    <a href="/users/<%= portfolio.author %>"><i class="fa-solid fa-user"></i></a>
                </span>
            </button>
            <button class="card-header-icon" aria-label="open">
                <a href="/portfolios/<%= portfolio.title %>"><i class="fa-regular fa-folder-open"></i></a>
            </button>
            <button class="card-header-icon" aria-label="comment">
                <span>
                    <a href="/portfolios/<%= portfolio.title %>/add_comment"><i class="fa-solid fa-comment"></i></a>
                </span>
            </button>
            <button class="card-header-icon" aria-label="like">
                <span>
                    <a href="#"><i class="fa-solid fa-heart"></i></a>
                </span>
            </button>
        </header>
        <div class="media">
            <div class="media-content">
                <div class="content mt-3 portfolio_info">
                    <%= portfolio.description %>
                </div>
            </div>
            <div class="media-right">
                <p class="image is-96x96">
                    <img alt="Image #1" src="<%= portfolio.images[0] %>">
                </p>
                <p class="image is-96x96">
                    <img alt="Image #2" src="<%= portfolio.images[0] %>">
                </p>
                <p class="image is-96x96">
                    <img alt="Image #3" src="<%= portfolio.images[0] %>">
                </p>
            </div>
        </div>
        <footer class="card-footer">
            <% if (currentUser)  { %>
                <a class="card-footer-item" href="/portfolios/<%= portfolio.title %>/add_comment">Comment</a>
            <% } %>
            <% if ((currentUser) && (currentUser.id === portfolio.authorId.toString())) { %>
                <a class="card-footer-item" href="/portfolios/<%= portfolio.title %>/edit">Edit Portfolio</a>
            <% } %>
        </footer>
    </article>
    <% } else { %>
        <ul></ul>
    <% } %>
</div>

<div class="column is-4">
    <div class="card mt-6 p-1">
        <% if (user.profileExists === true) { %>
        <div class="card-image" style="width: 20rem;">
            <figure class="image is-5by3">
                <img src="<%= user.profile.profileImage %>" class="card-img-top" alt="Profile Image">
            </figure>
        </div>
        <% } %>
        <div class="card-body">
            <label class="has-text-weight-bold">Technical Skills</label>
            <nav class="breadcrumb has-arrow-separator" aria-label="skills">
                <% if (!user.profile) { %>
                <div>None Listed</div>
                <% } else { %>
                <ul>
                    <% user.profile.skills.forEach(function(skill) { %>
                        <li><%= skill %></li>
                    <% }); %>
                </ul>
                <% } %>
            </nav>

            <label class="has-text-weight-bold">Project Types</label>
            <nav class="breadcrumb has-arrow-separator" aria-label="skills">
                <% if (!user.portfolio) { %>
                <div>None Listed</div>
                <% } else { %>
                <ul>
                    <% user.portfolio.tags.forEach(function(type) { %>
                        <li><%= type %></li>
                    <% }); %>
                </ul>
                <% } %>
            </nav>
        </div>

        <div id="bio" class="content">
            <p><%= user.profile.bio %></p>
        </div>

        <% if ((currentUser) && (currentUser.id === user.id)) { %>
            <div class="buttons is-grouped is-centered">
                <% if (user.profileExists === false) { %>
                    <a class="button is-primary" href="/profiles/add_profile/<%= user.username %>">Create Profile</a>
                <% } else { %>
                    <a class="button is-primary" href="/profiles/edit_profile/<%= user.username %>">Edit Profile</a>
                <% } %>
                <form action="/users/<%= user.name() %>/edit" method="GET">
                    <button class="button is-success">Edit Account</button>
                </form>

                <form action="/delete/<%= user.name() %>?_method=DELETE" method="POST">
                    <button class="button is-danger ml-3">Delete Account</button>
                </form>
            </div>
        <% }%>
    </div>
</div>

<%- include("../partials/_footer") %>