<%- include("partials/_header") %>

    <br>

    <div class="row">
        <div class="card">
            <div class="col">
                <form action="/portfolios/<%= portfolio.portfolio %>/<%= comment._id %>?_method=PATCH" method="POST">
                    <div class="card-body">
                        <h5 class="card-title">Edit your Comment</h5>

                        <br>

                        <div class="input-group">
                          <span class="input-group-text">Textarea</span>
                          <textarea name="comment" class="form-control" aria-label="Textarea"><%= comment.comment %></textarea>
                        </div>

                        <br>

                        <input type="submit" value="Edit Comment" class="btn btn-primary btn-block">
                    </div>
                </form>
            </div>
        </div>
    </div>

<%- include("partials/_footer") %>