<%- include("partials/_header") %>

    <div class="card-content">
        <form action="/portfolios/<%= portfolio.title %>/edit_comment?_method=PATCH" method="POST">
            <div class="field">
                <textarea class="textarea" placeholder="Comment here." name="comment" aria-label="comment"><%= comment.comment %></textarea>
            </div>
            <button class="button is-link">Submit</button>
            <a class="button is-warning" href="/portfolios/<%= portfolio.title %>">Cancel</a>
        </form>
    </div>

<%- include("partials/_footer") %>