<%- include("partials/_header") %>
    <div class="column is-half is-offset-one-quarter">
        <h3 class="subtitle">UX Design Portfolios</h3>
        <% portfolios.forEach(function(portfolio) {%>
            <article class="card">
                <header class="card-header mb-3">
                    <p class="card-header-title">
                        <%= portfolio.author %>
                    </p>
                    <button class="card-header-icon" aria-label="user">
                        <span class="icon">
                            <a href="/users/<%= portfolio.author %>"><i class="fa-solid fa-user"></i></a>
                        </span>
                    </button>
                    <button class="card-header-icon" aria-label="open">
                        <a href="/portfolios/<%= portfolio.title %>"><i class="fa-regular fa-folder-open"></i></a>
                    </button>
                    <button class="card-header-icon" aria-label="comment">
                        <span>
                            <a href="/portfolios/<%= portfolio.title %>/add_comment"><i class="fa-solid fa-comment"></i></a>
                        </span>
                    </button>
                    <button class="card-header-icon" aria-label="like">
                        <span>
                            <a href="#"><i class="fa-solid fa-heart"></i></a>
                        </span>
                    </button>
                </header>
                <div class="media p-2">
                    <div class="media-content mt-3">
                        <div class="content">
                            <p><%= portfolio.description %></p>
                        </div>
                    </div>
                    <div class="media-right">
                        <p class="image is-64x64">
                            <img alt="Image #1" src="<%= portfolio.imageOfOne %>">
                        </p>
                        <p class="image is-64x64">
                            <img alt="Image #2" src="<%= portfolio.imageOfTwo %>">
                        </p>
                        <p class="image is-64x64">
                            <img alt="Image #3" src="<%= portfolio.imageOfThree %>">
                        </p>
                    </div>
                </div>
            </article>
        <% }) %>
    </div>
<%- include("partials/_footer") %>