<%- include("partials/_header") %>

    <br>

    <div class="container-fluid">
        <div class="card">
          <img src="<%= user.profileImage %>" class="card-img-top" alt="Profile Image">
          <div class="card-body">
            <h3><%= user.name() %></h3>
            <p>Joined on <%= user.createdAt %></p>
          </div>
          <ul class="list-group list-group-flush">
            <li class="list-group-item"><%= user.purpose %></li>
            <li class="list-group-item"><%= user.experience%></li>
          </ul>
          <div class="card-body">
            <% if ((currentUser) && currentUser.id !== user.id) {%>
              <form action="/users/<%= user.name() %>/add" method="POST">
                <button class="btn btn-primary">Add as a Friend</button>
              </form>
            <% }%>
          </div>
            <% if (portfolios) { %>
                <ul>
                    <% portfolios.forEach(function(portfolio) {%>
                        <div class="card" style="width: 18rem">
                            <a href="/<%= portfolio.title %>">
                                <img alt="Header Image" src="<%= portfolio.headerImage %>" style="width: 18rem">
                            </a>
                            <div class="card-body">
                                <p class="card-text">
                                    <%= portfolio.description %>
                                </p>
                            </div>
                        </div>
                    <% }) %>
                </ul>
            <% } else { %>
                <ul></ul>
            <% } %>
            <% if ((currentUser) && (currentUser.id === user.id)) { %>
                <form action="/users/<%= user.name() %>/edit" method="GET">
                    <button class="btn btn-primary">EDIT</button>
                </form>
                <form action="/delete/<%= user.name() %>?_method=DELETE" method="POST">
                    <button class="btn btn-danger">DELETE</button>
                </form>
            <% }%>
        </div>
    </div>

    <br>

<%- include("partials/_footer") %>