<%- include("../partials/_header") %>

<div class="column is-4">
    <form action="/portfolios/<%= portfolio.title %>/edit?_method=PATCH" method="POST">
        <div class="container is-max-desktop mt-6">
            <h2 class="subtitle">Edit your Portfolio</h2>

            <div class="field">
                <label for="title" class="label">Portfolio Name</label>
                <input class="input is-primary" id="title" name="title" type="text" value="<%= portfolio.title %>" autofocus>
            </div>

            <div class="field">
                <label for="image1" class="label">Image</label>
                <input class="input is-primary" id="image1" name="image1" type="text" value="<%= portfolio.images[0] %>">
            </div>

            <div class="field">
                <label for="image2" class="label">Image #2</label>
                <input class="input is-primary" id="image2" name="image2" type="text" value="<%= portfolio.images[1] %>">
            </div>

            <div class="field">
                <label for="image3" class="label">Image #3</label>
                <input class="input is-primary" id="image3" name="image3" type="text" value="<%= portfolio.images[2] %>">
            </div>

            <div class="field">
                <label for="tags" class="label">Tags</label>
                <input class="input is-primary" id="tags" name="tags" value="<%= portfolio.tags.join(", ") %>">
                <p class="help">Ensure your three entries are separated with a space and comma.</p>
            </div>

            <div class="field">
                <label for="live" class="label">Live Demo</label>
                <input class="input is-primary" id="live" name="live" type="text" value="<%= portfolio.url %>">
            </div>

            <div class="field">
              <span class="input-group-text">With textarea</span>
              <textarea class="textarea is-primary" name="description" aria-label="With textarea"><%= portfolio.description %></textarea>
            </div>

            <div class="field is-grouped">
                <p class="control">
                    <button class="input has-text-white has-background-primary">Add Portfolio</button>
                </p>
                <p class="control">
                    <a class="input has-text-white has-background-info" href="/">Cancel</a>
                </p>
            </div>
        </div>
    </form>
</div>

<%- include("../partials/_footer") %>