<%- include("../partials/_header") %>

<div class="column is-half">

    <hr>
    <% if (comments.length >= 1) { %>
    <% comments.forEach(function(comment) { %>
        <article class="message is-link p-2">
            <div class="message-header">
                <%= comment.author %>
            <% if ((currentUser) && (currentUser.id === comment.authorID.toString())) { %>
                <form action="/portfolios/<%= portfolio.title %>/comment/<%= comment._id %>?_method=DELETE" method="POST">
                    <button class="delete is-medium" aria-label="delete"></button>
                </form>
            <% } %>
            </div>
            <div class="message-body">
                <%= comment.comment %>
            </div>
            <% if ((currentUser) && (currentUser.id === comment.authorID.toString())) { %>
                <a class="button is-link" href="/portfolios/<%= portfolio.title %>/edit_comment/<%= comment._id.toString() %>">Edit Comment</a>
            <% } %>
        </article>
    <% }); %>
    <% } %>
    <% if (!comments) { %>
        <article></article>
    <% } %>
</div>

<%- include("../partials/_footer") %>